body {
  background-color: #fff;
}
body .container {
  background-color: #fff;
}
.mm_header {
  text-align: center;
  font-size: 0.53333333rem;
  font-weight: 700;
  color: #fff;
  background-color: #f4483e;
}
.mm_header #logo {
  margin-top: 0.33333333rem;
  display: block;
  width: 0.66666667rem;
  height: 0.66666667rem;
}
.titc {
  width: 100%;
}
.titc li {
  text-align: center;
  float: left;
  width: 30%;
  height: 2.13333333rem;
  border: 2px solid #ececec;
  margin-left: 2.5%;
  margin-top: 0.2rem;
}
.titc li img {
  display: block;
  margin: 0.13333333rem auto;
  width: 1.33333333rem;
  height: 1.33333333rem;
  border: 2px solid #ececec;
}
.titc li p {
  font-size: 0.26666667rem;
}
